# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Local study materials
*.pdf
*.txt
data.zip

# Local RAG artifacts
notion_docs/
notion_chroma2/
dummy_data/
03_RAG/notion_troubleshooting_search/dummy_data/
03_RAG/notion_troubleshooting_search/notion_chroma/

# MkDocs build output
site/
